
<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
    <meta t="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgBFKOvbaLNWciLRSoHE5_jSJEJcdtu5c&sensor=false&amp;libraries=places"></script>
    <link rel="stylesheet" href="CSS/Main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        #map-canvas {
            width: 650px;
            height: 450px;
        }
    </style>
</head>

<body>
<form class="form-inline">
<div class="wrapp" ng-controller="googlemapoutput">
    <br>
    <div class="form-group">
        Source
        <input type="text"  ng-model="start" id="start" autocomplete="on"/> &nbsp;&nbsp;
        Destination
        <input type="text"  ng-model="end" id="end" autocomplete="on"/> &nbsp;&nbsp;

        <button id="btn" ng-click="calcRoute()">
            Get Direction
        </button>
        <br/></br>
    </div>
</div>
</form>
    <div id="map-canvas" style="height: 500px;"></div>
</div><br><br>
<div ng-controller="weatherCtrl">
    <form class="form-inline">
        <div class="form-group">
            <input class="directbutton" type="submit" value="Get weather for Source" ng-click="findWeather(zip)" />
        </div>
    </form>
    <p ng-show="zip">Searching the forecasts for: {{zip}}</p>
    <div>
        Forecast For {{ place.location.city }}
        Current: {{ place.item.condition.text }} | {{ place.item.condition.temp }}F
    </div>
</div><br>
<div   data-ng-controller="weatherCtrl1">
    <input class="directbutton" type="submit" value="Get weather for destination" ng-click="findWeather()" />
    <div>
        Forecast For {{ place.location.city }}
        Current: {{ place.item.condition.text }} | {{ place.item.condition.temp }}F
    </div>
</div>
<script src="JS/app.js"></script>
</body>
</html>


