<ion-view title="Signup" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list">
            <ion-list id="signup-list1">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Password">
                </label>
              <label class="item item-input" id="signup-input6">
                <span class="input-label"></span>
                <input type="text" placeholder="Confirm Password">
              </label>
              <label class="item item-input" id="signup-input7">
                <span class="input-label"></span>
                <input type="text" placeholder="Mobile Number">
              </label>
            </ion-list>
            <a ui-sref="login" id="signup-button3" class="button button-stable  button-block">Sign Up</a>
        </form>
    </ion-content>
</ion-view>
